// import the CSS framework
// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-fluid;
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-xs-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-xs-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 30px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}


// Make default navbar links display block at choosen breakpoint and adjust styles to fit...
@media (max-width: 767px) {
  .navbar-nav {
    padding-top: .425rem;
    padding-left: 0.75rem;
  }
  .navbar-nav .nav-item {
    float: none;
  }
  .navbar-brand {
    float: right;
  }
  .navbar-brand,
  .navbar-nav .nav-item {
    display: block;
  }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  .dropdown-menu {
    position: relative;
    float: none;
  }
}

.footer-languages {
  @extend .bg-success;
  color: #212121;
  padding: (1em * 2) 0;

  ul {
    margin-bottom: 0;

    a {
      color: #ffffff;

      &:hover {
        color: #212121;
      }
    }
  }
}

.footer {
  color: #b6b6b6;
  margin: (1em * 2) 0;

  a {
    color: #b6b6b6;

    &:hover {
      color: #727272;
    }
  }
}


.social-media {
  margin-top: (1em * 2);
  padding-bottom: (1em * 1.5);

  i {
    font-size: (1em * 2);
  }
}