-# .navbar 
%nav.navbar.navbar-full.navbar-dark.bg-success
  .container-fluid
    %button.navbar-toggler.hidden-md-up{ type: "button", "data-toggle": "collapse", "data-target": "#mainNavbarCollapse"} &#9776;

    = link_to root_path, class: 'navbar-brand' do
      %i.fa.fa-sun-o
      PublicTodo
      -#= image_tag 'https://placehold.it/32/ffffff?text=B', class: "img-rounded"

    .collapse.navbar-toggleable-sm#mainNavbarCollapse
      %ul.nav.navbar-nav.pull-md-right
        = render 'layouts/navigation_links'